<html>
<head>
<title>Poll Results</title>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity=
"sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin=”anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>
<body>
<script type="text/javascript">
    function getCookie(cname) {
    var name = cname + "=";
    var decodedCookie = decodeURIComponent(document.cookie);
    var ca = decodedCookie.split(';');
    for(var i = 0; i <ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') {
            c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
        }
    }
    return "";
}

$(document).ready(function() {
	$('#at_1').off('click');
	$('#at_2').off('click');
	$('#pv1_1').off('click');
	$('#pv1_2').off('click');
	$('#pv2_1').off('click');
	$('#pv2_2').off('click');
	$('#sv_1').off('click');
	$('#sv_2').off('click');	
	$('#sv_3').off('click');
	$('#sv_4').off('click');
	$('#sv_5').off('click');
	var us=getCookie('Loginwala');
	var socket = io.connect('http://127.0.0.1:5000');
	
	$('#pv1_1').on('click',function(){
		socket.emit('vote',{agenda:'pv1',option:1,user:us});
	});
	$('#pv1_2').on('click',function(){
		socket.emit('vote',{agenda:'pv1',option:2,user:us});
	});
	$('#pv2_1').on('click',function(){
		socket.emit('vote',{agenda:'pv2',option:1,user:us});
	});
	$('#pv2_2').on('click',function(){
		socket.emit('vote',{agenda:'pv2',option:2,user:us});
	});
	$('#sv_1').on('click',function(){
		socket.emit('vote',{agenda:'sv',option:1,user:us});
	});
	$('#sv_2').on('click',function(){
		socket.emit('vote',{agenda:'sv',option:2,user:us});
	});
	$('#sv_3').on('click',function(){
		socket.emit('vote',{agenda:'sv',option:3,user:us});
	});
	$('#sv_4').on('click',function(){
		socket.emit('vote',{agenda:'sv',option:4,user:us});
	});
	$('#sv_5').on('click',function(){
		socket.emit('vote',{agenda:'sv',option:5,user:us});
	});
		socket.on('vote_on',function(control){
			
	});
		socket.on('vote_off',function(control){
		if(control.agenda==at)
		{
			
		
		}
	});
		socket.on('vote_results',function(results){
		var total_votes=results.results1+results.results2+results.results3+results.results4+results.results5;
		
		
		var two_pct = Math.round(results.results2/total_votes*100);
		
		var three_pct = Math.round(results.results3/total_votes*100);

		var four_pct = Math.round(results.results4/total_votes*100);

		var five_pct = Math.round(results.results5/total_votes*100);

		var one_pct = 100-two_pct-three_pct-four_pct-five_pct;
	console.log(results.agenda);
	console.log(one_pct);
	console.log(two_pct);
console.log(three_pct);console.log(four_pct);console.log(five_pct);
	$(('#res_' + results.agenda+'_1')).css('width',one_pct+'%');
	$(('#res_' + results.agenda+'_2')).css('width',two_pct+'%');
	$(('#res_' + results.agenda+'_3')).css('width',three_pct+'%');
	$(('#res_' + results.agenda+'_4')).css('width',four_pct+'%');
	$(('#res_' + results.agenda+'_5')).css('width',five_pct+'%');
	

	});
});

</script>

Attendance
<button id="at_1">Present</button>
<button id="at_2">Present and voting</button>
<br><br>
<div class="progress">
	<div id="res_at_1" class="progress-bar progress-bar-success" style="width: 50%">
	</div>
	<div id="res_at_2" class="progress-bar progress-bar-info" style="width: 50%">
	</div>
	
</div>

Procedural Voting (1) 
<button id="pv1_1">Second</button>
<button id="pv1_2">Oppose</button>
<br><br>
<div class="progress">
	<div id="res_pv1_1" class="progress-bar progress-bar-success" style="width: 50%">
	</div>
	<div id="res_pv1_2" class="progress-bar progress-bar-info" style="width: 50%">
	</div>
	
</div>
Procedural Voting (2) 
<button id="pv2_1">For</button>
<button id="pv2_2">Against</button>
<br><br>
<div class="progress">
	<div id="res_pv2_1" class="progress-bar progress-bar-success" style="width: 50%">
	</div>
	<div id="res_pv2_2" class="progress-bar progress-bar-info" style="width: 50%">
	</div>
	
</div>
Substantial Voting
<button id="sv_1">Yes with rights</button>
<button id="sv_2">Yes</button>
<button id="sv_3">No with rights</button>
<button id="sv_4">No</button>
<button id="sv_5">Abstain</button>
<br><br>
<div class="progress">
	<div id="res_sv_1" class="progress-bar progress-bar-success" style="width: 20%">
	</div>
	<div id="res_sv_2" class="progress-bar progress-bar-info" style="width: 20%">
	</div>
	<div id="res_sv_3" class="progress-bar progress-bar-warning" style="width: 20%">
	</div>
	<div id="res_sv_4" class="progress-bar progress-bar-danger" style="width: 20%">
	</div>
	<div id="res_sv_5" class="progress-bar progress-bar-success progress-bar-striped" style="width: 20%">
	</div>
</div>

</body>
</html>
	
