<html>
<head>
<title>Poll Results</title>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity=
"sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin=”anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>
<body>
<script type="text/javascript">

$(document).ready(function() {

	var socket = io.connect('http://127.0.0.1:5000');
	$('#vote1').on('click',function(){
		socket.emit('vote',1);
	});
	$('#vote2').on('click',function(){
		socket.emit('vote',2);
	});
	socket.on('vote_results',function(results){
		var total_votes=results.results1+results.results2;
		var one_pct = Math.round(results.results1/total_votes*100);
		
		var two_pct = 100-one_pct;
		
	$('#results1').css('width',one_pct+'%');
	$('#results2').css('width',two_pct+'%');

	});
});

</script>
<button id="vote1">Vote 1</button>
<button id="vote2">Vote 2</button>

<div class="progress">
	<div id="results1" class="progress-bar progress-bar-success" style="width: 50%">
	</div>
	<div id="results2" class="progress-bar progress-bar-warning progress-bar-striped" style="width: 50%">
	</div>
</div>
</body>
</html>
	
