<html>
<head>
<title>Poll Results</title>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity=
"sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin=”anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>
<body>
<script type="text/javascript">

$(document).ready(function() {

	var socket = io.connect('http://127.0.0.1:5000');
	$('#at1').on('click',function(){
		socket.emit('vote',1);
	});
	$('#at2').on('click',function(){
		socket.emit('vote',2);
	});
	socket.on('vote_results',function(results){
		var total_votes=results.results1+results.results2;
		var one_pct = Math.round(results.results1/total_votes*100);
		
		var two_pct = 100-one_pct;
		
	$('#res_at1').css('width',one_pct+'%');
	$('#res_at2').css('width',two_pct+'%');

	});
});

</script>

Attendance
<button id="at1">Present</button>
<button id="at2">Present and voting</button>
<br><br>
<div class="progress">
	<div id="res_at1" class="progress-bar progress-bar-success" style="width: 50%">
	</div>
	<div id="res_at2" class="progress-bar progress-bar-info" style="width: 50%">
	</div>
	
</div>

Procedural Voting (1) 
<button id="pv1_1">Second</button>
<button id="pv1_2">Oppose</button>
<br><br>
<div class="progress">
	<div id="res_pv1_1" class="progress-bar progress-bar-success" style="width: 50%">
	</div>
	<div id="res_pv1_2" class="progress-bar progress-bar-info" style="width: 50%">
	</div>
	
</div>
Procedural Voting (2) 
<button id="pv2_1">For</button>
<button id="pv2_2">Against</button>
<br><br>
<div class="progress">
	<div id="res_pv2_1" class="progress-bar progress-bar-success" style="width: 50%">
	</div>
	<div id="res_pv2_2" class="progress-bar progress-bar-info" style="width: 50%">
	</div>
	
</div>
Substantial Voting
<button id="sv1">Yes with rights</button>
<button id="sv2">Yes</button>
<button id="sv3">No with rights</button>
<button id="sv4">No</button>
<button id="sv5">Abstain</button>
<br><br>
<div class="progress">
	<div id="res_sv1" class="progress-bar progress-bar-success" style="width: 20%">
	</div>
	<div id="res_sv2" class="progress-bar progress-bar-info" style="width: 20%">
	</div>
	<div id="res_sv3" class="progress-bar progress-bar-warning" style="width: 20%">
	</div><div id="res_sv4" class="progress-bar progress-bar-danger" style="width: 20%">
	</div>
	<div id="res_sv5" class="progress-bar progress-bar-success progress-bar-striped" style="width: 20%">
	</div>
</div>

</body>
</html>
	
