<html>
<head>
<title>Poll Results</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="text/javascript" src="{{ url_for('static', filename='assets/socket.io.min.js')}}"></script>
<script src="{{ url_for('static', filename='assets/jquery.min.js')}}"></script>
 <link href="{{ url_for('static', filename='assets/bootstrap.min.css')}}" rel="stylesheet" integrity=
"sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin=”anonymous">
<script src="{{ url_for('static', filename='assets/bootstrap.min.js')}}" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<style>
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
</style>
</head>
<body style="background-color:black; color:white; font-family:Century Gothic">

<script type="text/javascript">
    function getCookie(cname) {
    var name = cname + "=";
    var decodedCookie = decodeURIComponent(document.cookie);
    var ca = decodedCookie.split(';');
    for(var i = 0; i <ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') {
            c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
        }
    }
    return "";
}

$(document).ready(function() {
	  str=window.location.href

        ghar=(str).substr((str).indexOf('//')+2)

        var socket=io.connect(ghar);
	var us=getCookie('Loginwala');
	socket.emit('login',us);

  $('#m_at_1').on('click',function(){
    socket.emit('list',{agenda:'at',option:1});
  });
  $('#m_at_2').on('click',function(){
    socket.emit('list',{agenda:'at',option:2});
  });
  $('#m_pv1_1').on('click',function(){
    socket.emit('list',{agenda:'pv1',option:1});
  });
  $('#m_pv1_2').on('click',function(){
    socket.emit('list',{agenda:'pv1',option:2});
  });
  $('#m_pv2_1').on('click',function(){
    socket.emit('list',{agenda:'pv2',option:1});
  });
  $('#m_pv2_2').on('click',function(){
    socket.emit('list',{agenda:'pv2',option:2});
  });
  $('#m_sv_1').on('click',function(){
    socket.emit('list',{agenda:'sv',option:1});
  });
  $('#m_sv_2').on('click',function(){
    socket.emit('list',{agenda:'sv',option:2});
  });
  $('#m_sv_3').on('click',function(){
      socket.emit('list',{agenda:'sv',option:3});
  });
  $('#m_sv_4').on('click',function(){
      socket.emit('list',{agenda:'sv',option:4});
  });
  $('#m_sv_5').on('click',function(){
      socket.emit('list',{agenda:'sv',option:5});
  });

	$('#at_s').on('click',function(){
		socket.emit('ctrl',{agenda:'at',option:1,user:us});
	});
	$('#at_sp').on('click',function(){
		socket.emit('ctrl',{agenda:'at',option:2,user:us});
	});
	$('#at_rs').on('click',function(){
		socket.emit('ctrl',{agenda:'at',option:3,user:us});
	});
	$('#pv1_s').on('click',function(){
		socket.emit('ctrl',{agenda:'pv1',option:1,user:us});
	});
	$('#pv1_sp').on('click',function(){
		socket.emit('ctrl',{agenda:'pv1',option:2,user:us});
	});
	$('#pv1_rs').on('click',function(){
		socket.emit('ctrl',{agenda:'pv1',option:3,user:us});
	});
	$('#pv2_s').on('click',function(){
		socket.emit('ctrl',{agenda:'pv2',option:1,user:us});
	});
	$('#pv2_sp').on('click',function(){
		socket.emit('ctrl',{agenda:'pv2',option:2,user:us});
	});
	$('#pv2_rs').on('click',function(){
		socket.emit('ctrl',{agenda:'pv2',option:3,user:us});
	});
	$('#sv_s').on('click',function(){
		socket.emit('ctrl',{agenda:'sv',option:1,user:us});
	});
	$('#sv_sp').on('click',function(){
		socket.emit('ctrl',{agenda:'sv',option:2,user:us});
	});
	$('#sv_rs').on('click',function(){
		socket.emit('ctrl',{agenda:'sv',option:3,user:us});
	});



	socket.on('vote_results',function(results){



		if(results.agenda=='sv')
		{

		document.getElementById("res_"+results.agenda+"_1").innerHTML= results.results1;
		document.getElementById("res_"+results.agenda+"_2").innerHTML= results.results2;
		document.getElementById("res_"+results.agenda+"_3").innerHTML= results.results3;
		document.getElementById("res_"+results.agenda+"_4").innerHTML= results.results4;
		document.getElementById("res_"+results.agenda+"_5").innerHTML= results.results5;
		}
		else
		{
			document.getElementById("res_"+results.agenda+"_1").innerHTML= results.results1;
			document.getElementById("res_"+results.agenda+"_2").innerHTML= results.results2;
		}




	});
	socket.on('vote_reset',function(ag){
		if(ag=='sv')
		{

		document.getElementById("res_"+ag+"_1").innerHTML='  ';
		document.getElementById("res_"+ag+"_2").innerHTML='  ';
		document.getElementById("res_"+ag+"_3").innerHTML='  ';
		document.getElementById("res_"+ag+"_4").innerHTML='  ';
		document.getElementById("res_"+ag+"_5").innerHTML='  ';
		}
		else
		{
			document.getElementById("res_"+ag+"_1").innerHTML='  ';
			document.getElementById("res_"+ag+"_2").innerHTML='  ';
		}

	});
	socket.on('vote_us',function(rs){
    		document.getElementById("l_"+rs.agenda+"_"+rs.option).innerHTML=rs.final_list;

  	});
});

</script>
<div class="header" style="margin-left:2vw">
<h3>VITCMUN Voting and Timer System</h3>
</div>
  <hr>
<div class="container" style="margin-top:5vh">
  <button type="button" class="btn btn-block btn-lg" style="background-color:black; border-style:solid; border-color:white; border-width: 1px" data-toggle="collapse" data-target="#demo1">Attendance</button>
  <div id="demo1" style="background-color:white; color:black; padding-bottom:1vh" class="collapse">
    <div class="row">
      <div class="col-xs-7" style="padding-left:6vw">
          <button id="m_at_1" type="button" class="btn btn-block"  align="center" style="background-color:#252525; color:white; border-style:solid; border-color:black; border-width: 1px; margin-top:1vh"  data-toggle="modal" data-target="#myModal11">Present</button>
      </div>

      <div class="col-xs-2">
        <p id="res_at_1" style="margin-top:1vh; font-size:24px">16</p>
      </div>
      <div class="col-xs-3">
        <button id=at_s type="button" class="btn" style="background-color:black; color:white; margin-top:1vh">Start</button>
      </div>
    </div>

    <!--this is where the modal for Yes with rights comes in-->

    <!-- Modal -->
    <div class="modal fade" id="myModal11" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Delegates who are Present</h4>
          </div>
          <div class="modal-body">
            <p id="l_at_1">No Votes Yet.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>



    <!--this is the end of the modal-->


    <div class="row">
      <div class="col-xs-7" style="padding-left:6vw">
          <button id="m_at_2" type="button" class="btn btn-block"  align="center" style="background-color:#252525; color:white; border-style:solid; border-color:black; color:white; border-width: 1px; margin-top:1vh"  data-toggle="modal" data-target="#myModal10">Present and voting</button>
      </div>
      <div class="col-xs-2">
        <p id="res_at_2" style="margin-top:1vh; font-size:24px">16</p>
      </div>
      <div class="col-xs-3">
        <button id=at_sp type="button" class="btn" style="background-color:black; color:white; margin-top:1vh">Stop</button>
      </div>
    </div>

    <!--this is where the modal for Present and voting comes in-->

    <!-- Modal -->
    <div class="modal fade" id="myModal10" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Delegates who are Present and voting</h4>
          </div>
          <div class="modal-body">
            <p id="l_at_2">No Votes Yet.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="col-xs-7" style="padding-left:6vw">

      </div>

      <div class="col-xs-2">

      </div>
      <div class="col-xs-3">
        <button id="at_rs" type="button" class="btn" style="background-color:black; color:white; margin-top:1vh">Reset</button>
      </div>
    </div>



    <!--this is the end of the modal-->


  </div>
</div>

<div class="container" style="margin-top:3vh">
  <button type="button" class="btn btn-block btn-lg" style="background-color:black; border-style:solid; border-color:white; border-width: 1px" data-toggle="collapse" data-target="#demo2">Procedural Voting 1</button>
  <div id="demo2" style="background-color:white; color:black; padding-bottom:1vh" class="collapse">
    <div class="row">
      <div class="col-xs-7" style="padding-left:6vw">
          <button id="m_pv1_1" type="button" class="btn btn-block"  align="center" style="background-color:#252525; color:white; border-style:solid; border-color:black; border-width: 1px; margin-top:1vh" data-toggle="modal" data-target="#myModal9">Support</button>
      </div>
      <div class="col-xs-2">
        <p id="res_pv1_1" style="margin-top:1vh; font-size:24px">16</p>
      </div>
      <div class="col-xs-3">
        <button id="pv1_s" type="button" class="btn" style="background-color:black; color:white; margin-top:1vh">Start</button>
      </div>
    </div>
    <!--this is where the modal for supporting the motion comes in-->

    <!-- Modal -->
    <div class="modal fade" id="myModal9" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Delegates who are in support of the Motion</h4>
          </div>
          <div class="modal-body">
            <p id="l_pv1_1">No Votes Yet.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>



    <!--this is the end of the modal-->


    <div class="row">
      <div class="col-xs-7" style="padding-left:6vw">
          <button id="m_pv1_2" type="button" class="btn btn-block"  align="center" style="background-color:#252525; color:white; border-style:solid; border-color:black; border-width: 1px; margin-top:1vh" data-toggle="modal" data-target="#myModal8">Oppose</button>
      </div>
      <div class="col-xs-2">
        <p id="res_pv1_2" style="margin-top:1vh; font-size:24px">16</p>
      </div>
      <div class="col-xs-3">
        <button id="pv1_sp" type="button" class="btn" style="background-color:black; color:white; margin-top:1vh" >Stop</button>
      </div>
    </div>
    <!--this is where the modal for Oppose comes in-->

    <!-- Modal -->
    <div class="modal fade" id="myModal8" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Delegates who Oppose the motion</h4>
          </div>
          <div class="modal-body">
            <p id="l_pv1_2">No Votes Yet.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>



    <!--this is the end of the modal-->
    <div class="row">
      <div class="col-xs-7" style="padding-left:6vw">

      </div>

      <div class="col-xs-2">

      </div>
      <div class="col-xs-3">
        <button id="pv1_rs" type="button" class="btn" style="background-color:black; color:white; margin-top:1vh">Reset</button>
      </div>
    </div>



  </div>
</div>



<div class="container" style="margin-top:3vh">
  <button type="button" class="btn btn-block btn-lg" style="background-color:black; border-style:solid; border-color:white; border-width: 1px" data-toggle="collapse" data-target="#demo3">Procedural Voting 2</button>
  <div id="demo3" style="background-color:white; color:black; padding-bottom:1vh" class="collapse" >
    <div class="row">
      <div class="col-xs-7" style="padding-left:6vw">
          <button id="m_pv2_1" type="button" class="btn btn-block"  align="center" style="background-color:#252525; color:white; border-style:solid; border-color:black; border-width: 1px; margin-top:1vh"  data-toggle="modal" data-target="#myModal7">For the Motion</button>
      </div>
      <div class="col-xs-2">
        <p id="res_pv2_1" style="margin-top:1vh; font-size:24px">16</p>
      </div>
      <div class="col-xs-3">
        <button id="pv2_s" type="button" class="btn" style="background-color:black; color:white; margin-top:1vh">Start</button>
      </div>
    </div>

    <!--this is where the modal for For the Motion comes in-->

    <!-- Modal -->
    <div class="modal fade" id="myModal7" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Delegates who went For the motion</h4>
          </div>
          <div class="modal-body">
            <p id="l_pv2_1">No Votes Yet.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>



    <!--this is the end of the modal-->


    <div class="row">
      <div class="col-xs-7" style="padding-left:6vw">
          <button id="m_pv2_2" type="button" class="btn btn-block"  align="center" style="background-color:#252525; color:white; border-style:solid; border-color:black; border-width: 1px; margin-top:1vh" data-toggle="modal" data-target="#myModal6">Against the Motion</button>
      </div>
      <div class="col-xs-2">
        <p id="res_pv2_2" style="margin-top:1vh; font-size:24px">16</p>
      </div>
      <div class="col-xs-3">
        <button id="pv2_sp" type="button" class="btn" style="background-color:black; color:white; margin-top:1vh">Stop</button>
      </div>
    </div>

    <!--this is where the modal for Against the motion comes in-->

    <!-- Modal -->
    <div class="modal fade" id="myModal6" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Delegates who went Against the Motion</h4>
          </div>
          <div class="modal-body">
            <p id="l_pv2_2">No Votes Yet.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>



    <!--this is the end of the modal-->

        <div class="row">
      <div class="col-xs-7" style="padding-left:6vw">

      </div>

      <div class="col-xs-2">

      </div>
      <div class="col-xs-3">
        <button id="pv2_rs" type="button" class="btn" style="background-color:black; color:white; margin-top:1vh">Reset</button>
      </div>
    </div>

  </div>
</div>


<div class="container" style="margin-top:3vh">
  <button type="button" class="btn btn-block btn-lg" style="background-color:black; border-style:solid; border-color:white; border-width: 1px" data-toggle="collapse" data-target="#demo4">Substantial Voting</button>
  <div id="demo4" style="background-color:white; color:black; padding-bottom:1vh" class="collapse">
    <div class="row">
      <div class="col-xs-7" style="padding-left:6vw">
          <button id="m_sv_1" type="button" class="btn btn-block"  align="center" style="background-color:#252525; color:white; border-style:solid; border-color:black; border-width: 1px; margin-top:1vh"  data-toggle="modal" data-target="#myModal5">Yes</button>
      </div>
      <div class="col-xs-2">
        <p id="res_sv_1" style="margin-top:1vh; font-size:24px">16</p>
      </div>
      <div class="col-xs-3">
        <button id="sv_s" type="button" class="btn" style="background-color:black; color:white; margin-top:1vh">Start</button>
      </div>
    </div>

    <!--this is where the modal for Yes comes in-->

    <!-- Modal -->
    <div class="modal fade" id="myModal5" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Delegates who have voted Yes</h4>
          </div>
          <div class="modal-body">
           <p id="l_sv_1">No Votes Yet.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>



    <!--this is the end of the modal-->


    <div class="row">
      <div class="col-xs-7" style="padding-left:6vw">
          <button id="m_sv_2" type="button" class="btn btn-block"  align="center" style="background-color:#252525; color:white; border-style:solid; border-color:black; border-width: 1px; margin-top:1vh" data-toggle="modal" data-target="#myModal4">No</button>
      </div>
      <div class="col-xs-2">
        <p id="res_sv_2" style="margin-top:1vh; font-size:24px">16</p>
      </div>
      <div class="col-xs-3">
        <button id="sv_sp" type="button" class="btn" style="background-color:black; color:white; margin-top:1vh">Stop</button>
      </div>
    </div>

    <!--this is where the modal for No comes in-->

    <!-- Modal -->
    <div class="modal fade" id="myModal4" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Delegates who have voted No</h4>
          </div>
          <div class="modal-body">
            <p id="l_sv_2">No Votes Yet.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>



    <!--this is the end of the modal-->



    <div class="row">
      <div class="col-xs-7" style="padding-left:6vw">
          <button id="m_sv_3" type="button" class="btn btn-block"  align="center" style="background-color:#252525; color:white; border-style:solid; border-color:black; border-width: 1px; margin-top:1vh"  data-toggle="modal" data-target="#myModal3">Yes with Rights</button>
      </div>
      <div class="col-xs-2">
        <p id="res_sv_3" style="margin-top:1vh; font-size:24px">16</p>
      </div>
      <div class="col-xs-3">
        <button id="sv_rs" type="button" class="btn" style="background-color:black; color:white; margin-top:1vh">Reset</button>
      </div>
    </div>


    <!--this is where the modal for Yes with rights comes in-->

    <!-- Modal -->
    <div class="modal fade" id="myModal3" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Delegates who have voted Yes with Rights</h4>
          </div>
          <div class="modal-body">
            <p id="l_sv_3">No Votes Yet.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>



    <!--this is the end of the modal-->

    <div class="row">
      <div class="col-xs-7" style="padding-left:6vw">
          <button id="m_sv_4" type="button" class="btn btn-block"  align="center" style="background-color:#252525; color:white; border-style:solid; border-color:black; border-width: 1px; margin-top:1vh"  data-toggle="modal" data-target="#myModal1">No with Rights</button>
      </div>
      <div class="col-xs-2">
        <p id="res_sv_4" style="margin-top:1vh; font-size:24px">16</p>
      </div>
      <div class="col-xs-3">

      </div>
    </div>

<!--this is where the modal for No with rights comes in-->

<!-- Modal -->
<div class="modal fade" id="myModal1" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Delegates who have voted No with Rights</h4>
      </div>
      <div class="modal-body">
        <p id="l_sv_4">No Votes Yet.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>



<!--this is the end of the modal-->



    <div class="row">
      <div class="col-xs-7" style="padding-left:6vw">
          <button id="m_sv_5" type="button" class="btn btn-block"  align="center" style="background-color:#252525; color:white; border-style:solid; border-color:black; border-width: 1px; margin-top:1vh"  data-toggle="modal" data-target="#myModal2">Abstain</button>
      </div>
      <div class="col-xs-2">
        <p id="res_sv_5" style="margin-top:1vh; font-size:24px">16</p>
      </div>
      <div class="col-xs-3">
      </div>
    </div>

<!--this is the beginning of the modal code for Abstain-->

<!-- Modal -->
<div class="modal fade" id="myModal2" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Delegates who have abstained from voting.</h4>
      </div>
      <div class="modal-body">
        <p id="l_sv_5">No Votes Yet.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>



<!--this is the end for the modal code for Abstain-->


  </div>
</div>




</body>
</html>
